<div id="wrapperRow">
    <div class="wrapper-mid">
        <!-- Begin Paper -->
        <div id="paper">
            <div id="paper-mid">
                <div class="entry">
                    <div class="left_penal"><h1 class="resume">{{data.employee.Name}}</h1>
                        <p class="resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
                    <ul class="right_penal top_ul">
                        <li class="ad">{{data.employee.address}}</li>
                        <li class="mail">{{data.employee.city}} {{data.employee.zipCode}}
                        </li>
                        <li class="tel">{{data.employee.mobile}}
                        </li>
                        <li class="web">{{data.employee.email}}
                        </li>
                    </ul>
                </div>
                <div class="entry-row">
                    <div class="left_penal">
                        <div class="details_content">
                            <h2 class="resume">EXPERIENCE</h2>
							{{#each data.experience}}
                                <span class="location">{{company}} — {{designation}}</span>
                                <span class="month_present">{{convertDateFormat start}}-{{convertDateFormat end}}</span>
                                <p class="resume">{{description}} </p>
							{{/each}}
                        </div>

						{{#each data.projects}}
                            <div class="details_content">
                                <h2 class="resume">PROJECTS</h2>
                                <span class="location">{{project.name}} — {{project.url}}</span>
                                <span class="month_present">MONTH 20XX - PRESENT</span>
                                <p class="resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
						{{/each}}

                    </div>
                    <div class="right_penal">
                        <div class="right_penal_details">
                            <h2 class="resume">SKILLS</h2>
							{{#each data.skills}}
                                <p>{{skill.name}}</p>
							{{/each}}
                        </div>
                        <div class="right_penal_details">
                            <h2 class="resume">AWARDS</h2>
                            <p class="resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </div>
                        <div class="right_penal_details">
                            <h2 class="resume">LANGUAGES</h2>
                            <ul class="language">
                                <li>Hindi</li>
                                <li>English</li>
                                <li>Tamil</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
